@import "tailwindcss";

@theme {
  --color-finsight-teal: #008479;
  --color-finsight-orange: #ED752C;
  --color-finsight-darkTeal: #00665e;
  --color-finsight-lightTeal: #e6f3f2;
  --color-finsight-beige: #fcfaf6;
}

@layer base {
  body {
    @apply bg-finsight-beige text-gray-800 antialiased;
  }
}
