@import "tailwindcss";

@theme {
  --color-finsight-teal: #008479;
  --color-finsight-orange: #ED752C;
  --color-finsight-darkTeal: #00665e;
  --color-finsight-lightTeal: #e6f3f2;
  --color-finsight-beige: #fcfaf6;
}

@layer base {
  body {
    background-color: var(--color-finsight-beige);
    color: #1f2937;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
